#!/usr/bin/make -f

export DH_OPTIONS
export DH_GOPKG := github.com/gorilla/websocket

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_install:
	dh_auto_install
	# Remove extra examples
	rm -rf debian/golang-websocket-dev/usr/share/gocode/src/github.com/gorilla/websocket/examples
	# Remove stuff in /usr/bin
	rm -rf debian/golang-websocket-dev/usr/bin

.PHONY: get-orig-source
PKD  = $(abspath $(dir $(MAKEFILE_LIST)))
PKG  = $(word 2,$(shell dpkg-parsechangelog -l$(PKD)/changelog | grep ^Source))
VER ?= $(shell dpkg-parsechangelog -l$(PKD)/changelog | perl -ne 'print $$1 if m{^Version:\s+(?:\d+:)?(\d.*)(?:\-\d+.*)};')
UURL = git://github.com/gorilla/websocket.git
UDATE= $(shell TZ=UTC date --rfc-3339=seconds --date='$(shell echo $(VER) | perl -ne 'print "$$1-$$2-$$3" if m/~git(\d{4})(\d{2})(\d{2})$$/')')

get-orig-source: $(PKG)_$(VER).orig.tar.xz $(info I: $(PKG)_$(VER))

$(PKG)_$(VER)$(DTYPE).orig.tar.xz: $(info I: UDATE=$(UDATE))
		$(if $(wildcard $(PKG)-$(VER)),$(error $(PKG)-$(VER) exist, aborting..))
		@echo "# Downloading..."
		@git clone --quiet $(UURL) $(PKG)-$(VER) || $(RM) -r $(PKG)-$(VER)
		@cd $(PKG)-$(VER) \
		&& git checkout --quiet $$(git log -n1 --format=%h --before="$(UDATE)") \
		&& echo "# Setting times..." \
		&& for F in $$(git ls-tree -r --name-only HEAD); do touch --no-dereference -d "$$(git log -1 --format="%ai" -- $$F)" "$$F"; done \
		&& echo "# Cleaning-up..." \
		&& $(RM) -r .git .git*
		@echo "# Packing..."
		@find -L "$(PKG)-$(VER)" -xdev -type f -print | sort \
		| XZ_OPT="-6v" tar -caf "$(PKG)_$(VER)$(DTYPE).orig.tar.xz" -T- --owner=root --group=root --mode=a+rX \
		&& $(RM) -r "$(PKG)-$(VER)"
